body{
    background-color:  #4343F9;
    margin: 0;
}

html body{
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
}

button{
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 240px;
    height: 360px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #FFF;
    font-weight: bold;
    transform: translate(-50%, -50%);
    
    background-color:  #4343F9;
    border-style: none;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    
    
}

.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.top{
    width: 40px;
    height: 40px;
    background-color:  #4343F9;
    border-style: none;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    
    position: absolute;
    top: 5%;
    right: 50%;
    bottom: 90%;
    left: 50%;
    

}

.right{
    width: 40px;
    height: 40px;
    background-color:  #4343F9;
    border-style: none;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    
    position: fixed;
    top: 50%;
    right: 10%;
    bottom: 50%;
    left: 90%;
    
    
}

.bottom{
    width: 40px;
    height: 40px;
    background-color:  #4343F9;
    border-style: none;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    
    position: fixed;
    top: 95%;
    right: 50%;
    left: 50%;
    bottom: 5%;
 }

 .left{
    width: 40px;
    height: 40px;
    background-color:  #4343F9;
    border-style: none;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    
    position: fixed;
    top: 50%;
    right: 90%;
    bottom: 50%;
    left: 10%;
}

